@import "tailwindcss";


@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary-50: oklch(76.834% 0.1446 304.13);
    --color-primary-100: oklch(72.46% 0.17363 303.29);
    --color-primary-200: oklch(64.124% 0.22722 301.35);
    --color-primary-300: oklch(57.354% 0.26755 297.78);
    --color-primary-400: oklch(52.536% 0.28807 292.04);
    --color-primary-500: oklch(47.098% 0.26416 290.86);
    --color-primary-600: oklch(40.736% 0.2276 291.18);
    --color-primary-700: oklch(34.077% 0.18896 292.55);
    --color-primary-800: oklch(27.128% 0.14873 293.63);
    --color-primary-900: oklch(16.492% 0.08864 298.76);
    --color-primary-950: oklch(10.935% 0.0559 307.99);
    --color-secondary-50: oklch(95.064% 0.13715 124.8);
    --color-secondary-100: oklch(94.245% 0.16036 125.67);
    --color-secondary-200: oklch(92.913% 0.20032 126.81);
    --color-secondary-300: oklch(91.76% 0.22925 128.52);
    --color-secondary-400: oklch(90.884% 0.24523 130.43);
    --color-secondary-500: oklch(81.692% 0.22291 130.9);
    --color-secondary-600: oklch(70.189% 0.19078 130.65);
    --color-secondary-700: oklch(58.191% 0.15723 130.26);
    --color-secondary-800: oklch(40.658% 0.10845 129.39);
    --color-secondary-900: oklch(20.889% 0.0531 125.89);
    --color-secondary-950: oklch(0% 0 none);
    --color-tertiary-50: oklch(91.994% 0.08749 85.593);
    --color-tertiary-100: oklch(90.296% 0.104 84.766);
    --color-tertiary-200: oklch(87.237% 0.13453 83.765);
    --color-tertiary-300: oklch(84.22% 0.1565 80.948);
    --color-tertiary-400: oklch(81.636% 0.16817 76.89);
    --color-tertiary-500: oklch(75.244% 0.15915 74.429);
    --color-tertiary-600: oklch(65.339% 0.13761 75.371);
    --color-tertiary-700: oklch(54.844% 0.11523 75.933);
    --color-tertiary-800: oklch(39.665% 0.08277 77.692);
    --color-tertiary-900: oklch(22.817% 0.04691 83.092);
    --color-tertiary-950: oklch(13.076% 0.02676 92.501);
    --color-gray: oklch(29.342% 0.0426 301.81);
    --color-gray-50: oklch(76.733% 0.04418 303.52);
    --color-gray-100: oklch(71.202% 0.05689 302.96);
    --color-gray-200: oklch(60.029% 0.07918 302.06);
    --color-gray-300: oklch(49.433% 0.08258 301.49);
    --color-gray-400: oklch(39.84% 0.06319 300.98);
    --color-gray-500: oklch(29.342% 0.0426 301.81);
    --color-gray-600: oklch(25.582% 0.03455 301.85);
    --color-gray-700: oklch(21.86% 0.02819 303.78);
    --color-gray-800: oklch(17.786% 0.01921 304.79);
    --color-gray-900: oklch(13.434% 0.01215 304.39);
    --color-gray-950: oklch(10.832% 0.007 285.17);
    --color-destructive: oklch(58.304% 0.23867 28.476);
    --color-destructive-50: oklch(80.251% 0.11332 17.175);
    --color-destructive-100: oklch(76.458% 0.14047 17.665);
    --color-destructive-200: oklch(70.035% 0.19114 20.549);
    --color-destructive-300: oklch(65.547% 0.23075 24.363);
    --color-destructive-400: oklch(63.209% 0.25332 27.733);
    --color-destructive-500: oklch(58.304% 0.23867 28.476);
    --color-destructive-600: oklch(47.384% 0.1938 28.213);
    --color-destructive-700: oklch(35.793% 0.14607 27.471);
    --color-destructive-800: oklch(23.144% 0.09407 26.024);
    --color-destructive-900: oklch(8.0729% 0.03313 29.234);
    --color-destructive-950: oklch(0% 0 none);
    --drop-shadow-primary-3xl: 0px 0px 35px var(--color-primary-500);
    --drop-shadow-secondary-3xl: 0px 0px 35px var(--color-secondary-300);
    --drop-shadow-tertiary-3xl: 0px 0px 35px var(--color-tertiary-500);
    --inset-shadow-c-sm: inset 0px 0px 3px var(--color-primary-500);
    --inset-shadow-c-md: inset 0px 0px 5px var(--color-primary-500);
    --inset-shadow-c-lg: inset 0px 0px 9px var(--color-primary-500);
    --inset-shadow-c-xl: inset 0px 0px 14px var(--color-primary-500);
    --inset-shadow-c-2x: inset 0px 0px 20px var(--color-primary-500);
}